# Example config
ONESHOT_KEY=your-key-here
ONESHOT_SECRET=your-secret-here
ONESHOT_BIZ_ID=your-business-id-here
PRIVATE_KEY=put-a-private-key-here
CONTRACT_METHOD_ID=get-a-contract-method-id-from-1shot-api